In [1]:
import pandas as pd
import os
import basedosdados

In [2]:
path = os.path.abspath(os.path.join('..', 'input'))
path_mun = os.path.join(path, 'ranking_geral_municipio.csv')
geral_mun = pd.read_csv(path_mun)

In [3]:
geral_mun['ano'] = 2022

In [4]:
rank_mun = pd.DataFrame()
for i in ['','.1','.2','.3','.4','.5','.6','.7','.8','.9','.10','.11','.12','.13','.14','.15','.16']:
    lista = geral_mun[['ano','UF','Código IBGE (7)', 'pilar'+i, 'Nota'+i, 'Colocação'+i]].values
    lista = pd.DataFrame(lista)
    lista.rename(columns = {0:'ano', 1:'sigla_uf', 2:'id_municipio',3:'pilar_dimensao', 4:'nota_geral', 5:'colocacao'}, inplace = True)
    rank_mun = rank_mun.append(lista).reset_index(drop=True)


rank_mun['ano'] = rank_mun['ano'].astype(int)
rank_mun['colocacao'] = rank_mun['colocacao'].astype(int)
rank_mun['nota_geral'] = rank_mun['nota_geral'].str.replace(',', ".")
rank_mun['nota_geral'] = rank_mun['nota_geral'].astype('float')
rank_mun

,ano,sigla_uf,id_municipio,pilar_dimensao,nota_geral,colocacao
0,2022,RO,1100023,Sustentabilidade fiscal,30.61,312
1,2022,RO,1100049,Sustentabilidade fiscal,36.13,189
2,2022,RO,1100122,Sustentabilidade fiscal,35.74,201
3,2022,RO,1100205,Sustentabilidade fiscal,32.24,278
4,2022,RO,1100304,Sustentabilidade fiscal,35.63,203
...,...,...,...,...,...,...
7050,2022,GO,5217609,Dimensão: Economia,29.18,382
7051,2022,GO,5218805,Dimensão: Economia,40.81,166
7052,2022,GO,5220454,Dimensão: Economia,36.78,261
7053,2022,GO,5221403,Dimensão: Economia,29.86,375
7054,2022,GO,5221858,Dimensão: Economia,36.48,266

In [5]:
path = os.path.abspath(os.path.join('..', 'output'))
path_df = os.path.join(path, 'geral_municipio.csv')
rank_mun.to_csv(path_df, index=False)